<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Lab1</title>
  <link rel="stylesheet" href="/CSS/foundation.min.css" />
  <link rel="stylesheet" href="/CSS/app.css" />
</head>
<body>

  <!-- Header -->
  <div class="container">
    <div class="row align-middle">
      <div class="columns small-12 medium-6">
        <div class="navbar-column flex-container justify-between align-middle">
          <!-- Enlace para volver a la ruta raíz -->
          <a href="/"><h1 style="display: inline; margin-right: 20px;">Laboratorios</h1></a>
          <!-- Título para crear nuevos laboratorios -->
          <h2 style="display: inline;"><a href="/crear">Crear</a></h2>
          <!-- Botón para iniciar sesión -->
          <h3 style="display: inline; margin-left: auto;"><a href="/iniciar-sesion">Iniciar sesión</a></h3>
        </div>
      </div>
    </div>
  </div>   

  <div class="custom-grid">
    <div class="columns small-1 medium-2 large-3"></div> <!-- Columna en blanco a la izquierda -->
    <div class="columns small-10 medium-8 large-6 text-container"> <!-- Columna central para el texto -->
      <div class="center-content"> <!-- Añadimos la clase center-content para centrar el contenido -->
        <h1>Iniciar Sesión</h1>
        <!-- Espacio para ingresar el nombre de usuario -->
        <div style="margin-top: 20px;">
          <input type="text" placeholder="Nombre de usuario" style="margin-bottom: 10px; width: 100%; padding: 8px;">
        </div>
        <!-- Espacio para ingresar la contraseña -->
        <div>
          <input type="password" placeholder="Contraseña" style="margin-bottom: 10px; width: 100%; padding: 8px;">
        </div>
        <!-- Botón para iniciar sesión -->
        <button style="width: 100%; padding: 10px; background-color: #007bff; color: white; border: none; border-radius: 5px; margin-bottom: 10px;">Iniciar Sesión</button>
        <!-- Botón para registrarse -->
        <a href="/registrarse"><button style="width: 100%; padding: 10px; background-color: #28a745; color: white; border: none; border-radius: 5px;">Registrarse</button></a>
      </div>
    </div>
    <div class="columns small-1 medium-2 large-3"></div> <!-- Columna en blanco a la derecha -->
  </div>


  <!-- Script poe -->
  <script src="/JS/poe.js"></script>

  <!-- Script poe -->
  <script src="/JS/backend.js"></script>

</body>
</html>