<%- include('partials/head.ejs', {
}) %>

  <div class="custom-grid">
    <div class="columns small-1 medium-2 large-3"></div> <!-- Columna en blanco a la izquierda -->
    <div class="columns small-10 medium-8 large-6 text-container"> <!-- Columna central para el texto -->
      <div class="center-content"> <!-- A침adimos la clase center-content para centrar el contenido -->
        <h1>Registrarse</h1>
        <!-- Espacio para ingresar el nombre de usuario -->
        <div style="margin-top: 20px;">
            <input type="text" placeholder="Nombre" style="margin-bottom: 10px; width: 100%; padding: 8px;">
          </div>
          <!-- Espacio para ingresar el apellido de usuario -->
        <div style="margin-top: 20px;">
          <input type="text" placeholder="Apellido" style="margin-bottom: 10px; width: 100%; padding: 8px;">
        </div>
        <!-- Espacio para ingresar la fecha de nacimiento -->
        <div style="margin-top: 20px;">
          <input type="date" placeholder="Fecha de Nacimiento" style="margin-bottom: 10px; width: 100%; padding: 8px;">
        </div>
        <!-- Espacio para ingresar correo -->
        <div style="margin-top: 20px;">
          <input type="text" placeholder="Correo" style="margin-bottom: 10px; width: 100%; padding: 8px;">
        </div>
        <!-- Espacio para ingresar la contrase침a -->
        <div style="margin-top: 20px;">
          <input type="password" placeholder="Contrase침a" style="margin-bottom: 10px; width: 100%; padding: 8px;">
        </div>
        <!-- Bot칩n para registrarse -->
        <button style="width: 100%; padding: 10px; background-color: #28a745; color: white; border: none; border-radius: 5px;">Registrarse</button>
    </div>
    <div class="columns small-1 medium-2 large-3"></div> <!-- Columna en blanco a la derecha -->
  </div>

