<%- include('partials/head.ejs', {
}) %>  

<div class="container">
        <h2>Rango de Edad de Usuarios</h2>
        <div class="row">
            <div class="columns">
                <canvas id="ageChart" width="400" height="200"></canvas>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

    <script src="/JS/reporte.js"></script>

    